

.center {
 
 display:block;
margin-left:auto;
margin-right: auto;
padding-bottom: 30px;
border-radius: 10px;

}

#first {
	padding-top: 20px;
	padding-bottom:50px;
}

#explore {
display:block;
margin-left:auto;
margin-right: auto;
text-align: center;
background-color: #800000;
height:30px;
width:100px;
font-size: 25px ;
text-decoration: none;
color:lightgoldenrodyellow;
padding: 15px 32px;

}

body {
	background-color: #a7c2cc;
	min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {

     height:100px;
	background-color:  #800000;
	text-align: center;
	padding-top: 55px;
	color: lightgoldenrodyellow ;
	font-size: 40px;


}

.secondHeader {

	height:100px;
	background-color:  #800000;
	text-align: left;
	padding-top: 55px;
	color: lightgoldenrodyellow ;
	font-size: 40px;

}

footer {
	height: 50px;
	background-color:  #800000;
	margin-top: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 100px;
 padding-left: 400px;
 
}

.poster {

	height:250px;
	width:200px;
	margin-bottom: 20px;

}

.textContainer {

	height:250px;
	width:500px;
	display: block;
	margin-right: 1150px;
	float:right;
	  border-radius: 15px 50px 30px 5px
}



#addMovie {
  
  margin-top: 5px;
  width: 100px;
  height: 30px;
 margin-right: 300px ;
  float: right ;
  
  	background-color: #edb458;
  border: none;
  color: white;
  border: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
	background-color: #edb458;
  color: white;
}

button:active {
  background-color: darkgoldenrod;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  }

.form {

border: 2px solid #edb458;
  border-radius: 4px;

}

#txt {

	clear: both;
	color: #edb458;

}

#addTop {


	margin-left: 1720px;
	margin-top: 20px;

	background-color: #edb458;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}



#search {


	float:right;
border-radius: 15px 50px 30px;
border: 2px solid #edb458;
  
  
 
}



#srch {
	background-color: lightgoldenrodyellow;


	float:right;
	border-radius: 15px 50px 30px;
	border: 2px solid #edb458;
}

h1 {

	font-style: italic;
}


li {

   margin-top: 50px;
   font-size: 20px;
   font-weight: bold;
  font-style: italic;
  text-shadow: 2px 2px 5px grey;
}


.remove {
	margin-bottom: 10px;
background-color: #edb458;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

.display {
margin-bottom: 10px;
background-color: #edb458;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;


}